*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
        #e92e3d,
        #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-wrapper{
    width: 400px;
    padding: 50px;
    box-shadow: 0 5px 35px rgba(50,50,50,0.2);
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-row{
    
    width: 90%;
    display: flex;
    justify-content: space-around;
}

p{
    margin: 30px;
    font-size: 16px;
    font-weight: 500;
}

.roll-button{
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}



.bet-wrapper{
    width: 350px;
    margin: 15px;
    padding: 30px;
    border-width: 3px;
    border-style: solid;
    border-color: #a504124f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bet-switch{
    padding: 10px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
}

.toggle{
    font-family: 'Poppins', sans-serif;
    left: 0;
    top: 0;
    width: 100px;
    padding: 5px 0;
    letter-spacing: 1px;
    border-radius: 5px;
    position: relative;
    border: none;
    background-color: #a504124f;
    color: #a5041185;
}

.form__label {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #a5041185;
    margin-left: 1.9rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}
  
.form__input {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 0.9rem;
    margin: 20px auto 0 auto;
    padding: 0.3rem 1rem 0;
    border-radius: 0.2rem;
    background-color: #ffffff;
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}
  
.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}



#accountArea {
    margin: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color:#a5041185;    
}

#accountArea {
    margin: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color:#a5041185;    
}

#contractArea {
    margin: 0;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color:#a5041185;    
}
